@model RestaurantEntity.Feedback
@{
    ViewData["Title"] = "Feedback";
}


<div>
    <hr />
    <a asp-controller="Feedback" asp-action="Index">Feedback</a>
    <hr />
</div>


<form method="post" enctype="multipart/form-data">
    
    
    <label>HOW IS  OUR SERVICE</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">
            SATISFACTORY
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
            UNSATISFACTORY
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        <label class="form-check-label" for="exampleRadios3">
           AVERAGE
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        <label class="form-check-label" for="exampleRadios3">
            SHOULD IMPROVE
        </label>
        
    </div>
    <hr />
    <div class="form-group">
        <label> COMMENTS  </label>
        <input tytpe="text" asp-for="Comments" class="form-control"
               placeholder="enter your  comments" required />
    </div>
    <hr />
    
    </div>
    <input type="submit" value="Save" class="btn btn-outline-success" />
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
     <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>

    }
    else if (ViewBag.status == "error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>



