@model IEnumerable<RestaurantEntity.Feedback>
@{
    ViewData["Title"] = "Index";
}
  @* @{
 Layout = "~/Views/Shared/_Layout.cshtml";
}*@
<h1>Index</h1>
<div>
    <hr />
    <a asp-controller="Feedback" asp-action="Feedback">FeedBack</a>
    <hr />
</div>
